

.favorite-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .favorites-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  