.footer {
    background-color: #151515;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    margin-top: 150px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .left {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .location {
    display: flex;
    align-items: center;
  }
  
  .location p {
    margin: 0;
  }
  
  .right {
    flex: 1;
    margin-left: 2rem;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      font-size: 1rem;
    }
  
    .left {
      flex: 1 0 100%;
      margin-bottom: 2rem;
    }
  
    .location {
      flex-wrap: wrap;
    }
  
    .location p {
      margin-bottom: 0.5rem;
    }
  
    .right {
      flex: 1 0 100%;
      margin-left: 0;
    }
  }
  